{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mairie d'Abidjan - Accueil</title>
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="css/responsive.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">
    {% block 'head_contenu' %}
    {% endblock %}
</head>
<body>

    {% include 'all/navigation.html' %}


    {% block 'contenu_principal' %}

    {% endblock %}


    {% include 'all/footer.html' %}

    <!-- Back to Top Button -->
    <button id="backToTop" class="btn btn-primary rounded-circle">
        <i class="fas fa-arrow-up"></i>
    </button>

    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
    
    <script src="{% static 'main.js' %}"></script>
    <script src="js/animations.js"></script>
</body>
</html>